.navbar {
    padding: 0px;
    max-height: 96px;
}

.navbar-brand{
    /*height:76px;*/
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.makefullheight {
    height: 100%;
}